#box{
    background-color: rgba(17, 236, 196, 0.786);
}
.red{
    color: rgb(255, 179, 0);
}
p{
    text-align: center;
}
.red{
    text-align: center;
    text-decoration: black dotted underline;

    text-shadow: 0cap;
}